<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPTWoKVotXE-sMTDAv0LdFIQQYVQv9miw</string>
	<key>GCM_SENDER_ID</key>
	<string>705009278546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cloud.KRE8TIVE.AiMetaVerse</string>
	<key>PROJECT_ID</key>
	<string>aimetaverse-d40f4</string>
	<key>STORAGE_BUCKET</key>
	<string>aimetaverse-d40f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705009278546:ios:e95f3c5da299ee29fb498b</string>
	<key>DATABASE_URL</key>
	<string>https://aimetaverse-d40f4-default-rtdb.firebaseio.com</string>
</dict>
</plist>